body{
    background: black;
}
div.parent{
    border: 1px solid black;
    width: 32%;
    margin: auto;
    background: lightgrey;
}
.form{
    text-align: center;
}
.message{
    background: white;
    border: 1px solid gray;
    width: 200px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    height: auto;
    width: 200px;
}
.message:nth-child(even){
    background: lightblue;
    border: 1px solid darkslateblue;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    width: 200px;
    height: auto;
    margin: 0px 48%;
}

label:nth-child(odd){
    margin: 0px 0px 0px 210px;
}
